/* [Colors] */

body {
}

/* [Global] */

body {
    background: rgba(255,255,255,1.00);
    color: rgba(0,0,0,1.00);
    font-size: 16px;
    line-height: 1.4;
    font-family: Inter;
    font-weight: 400;
    min-height: 100vh;
    position: relative;
}

container {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto 0px auto;
    display: block;
    padding: 0px 20px 0px 20px;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
}

h6 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    margin-bottom: 0px;
    margin-top: 0px;
}

ul {
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}

img {
    max-width: 100%;
    display: block;
}

textarea {
    resize: vertical;
}

a {
    transition: all 200ms 0ms linear;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* [Classes] */

.stylesheet-color-box {
    width: 220px;
    height: 220px;
    border: 1px solid rgba(225,225,225,1.00);
    margin: 0px 0px 10px 0px;
}

.stylesheet-part {
    border-bottom: 1px solid rgba(223,223,223,1.00);
    padding: 60px 0px 60px 0px;
}

.button-primary {
    background: rgba(0,0,0,1.00);
    color: rgba(255,255,255,1.00);
    padding: 15px 35px 15px 35px;
    border: 1px solid rgba(0,0,0,1);
}

.button-primary:hover {
    background: rgba(255,255,255,1.00);
    color: rgba(0,0,0,1.00);
}

.button-secondary {
    background: rgba(255,255,255,1.00);
    color: rgba(0,0,0,1.00);
    padding: 15px 35px 15px 35px;
    border: 1px solid rgba(0,0,0,1);
}

.button-secondary:hover {
    background: rgba(0,0,0,1.00);
    color: rgba(255,255,255,1.00);
}

.button-outline {
    padding-top: 15px;
    padding-right: 45px;
    padding-left: 45px;
    background: rgba(0,0,0,0.00);
    color: rgba(0,0,0,1.00);
    padding-bottom: 15px;
    border: 1px solid rgba(0,0,0,1.00);
    text-decoration: none;
    transition: all 200ms 0ms ease;
}

.button-outline:hover {
    background: rgba(0,0,0,1.00);
    color: rgba(255,255,255,1.00);
}

.button-2 {
    padding-top: 15px;
    padding-right: 45px;
    padding-left: 45px;
    background: rgba(0,0,0,1.00);
    color: rgba(255,255,255,1.00);
    padding-bottom: 15px;
    border: 1px solid rgba(0,0,0,1.00);
    text-decoration: none;
    transition: all 200ms 0ms ease;
}

.button-2:hover {
    background: rgba(0,0,0,0.00);
    color: rgba(0,0,0,1.00);
}

.image-wrap-2 {
    height: 850px;
}

.link {
    color: rgba(0,0,0,1.00);
}

.input {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    width: 100%;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,1.00);
}

.button-3 {
    padding-top: 15px;
    padding-right: 45px;
    padding-left: 45px;
    background: rgba(0,0,0,1.00);
    color: rgba(255,255,255,1.00);
    padding-bottom: 15px;
    border: 1px solid rgba(0,0,0,1.00);
    text-decoration: none;
    transition: all 200ms 0ms ease;
    text-align: center;
}

.button-3:hover {
    background: rgba(0,0,0,0.00);
    color: rgba(0,0,0,1.00);
}

/* [Tags] */

body .t4 {
}

body .t12 {
}

body .t14 {
    display: flex;
    row-gap: 40px;
    column-gap: 40px;
}

body .t19 {
    display: flex;
    row-gap: 25px;
    flex-direction: column;
}

body .t20 {
    display: flex;
    row-gap: 25px;
    flex-direction: column;
}

body .t22 {
    color: rgba(0,0,0,1.00);
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 600;
}

body .t24 {
}

body .t33 {
    color: rgba(163,117,255,1.00);
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 600;
}

body .t34 {
    color: rgba(163,117,255,1.00);
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 600;
}

body .t35 {
    display: flex;
    column-gap: 100px;
}

body .t44 {
    color: rgba(163,117,255,1.00);
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 600;
}

body .t45 {
    display: grid;
    grid-template-columns: 350px 1fr;
}

body .t46 {
    color: rgba(163,117,255,1.00);
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 600;
}

body .t47 {
    display: flex;
    flex-direction: column;
}

body .t49 {
    display: grid;
    grid-template-columns: 350px 1fr;
}

body .t50 {
    color: rgba(0,0,0,1.00);
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 600;
}

body .t52 {
    display: flex;
    flex-direction: column;
}

body .t55 {
    display: grid;
    grid-template-columns: 350px 1fr;
}

body .t56 {
}

body .t57 {
    color: rgba(0,0,0,1.00);
    background: rgba(255,255,255,1.00);
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t59 {
    display: flex;
    column-gap: 80px;
    align-items: center;
}

body .t60 {
    width: 50%;
}

body .t61 {
    width: 100%;
}

body .t62 {
    width: 50%;
    display: flex;
    align-items: center;
}

body .t64 {
}

body .t65 {
}

body .t66 {
    color: rgba(0,0,0,1.00);
    background: rgba(255,255,255,1.00);
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t70 {
    margin: 50px 0px 0px 0px;
    display: grid;
    row-gap: 35px;
    column-gap: 25px;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

body .t71 {
    align-self: center;
    text-align: center;
}

body .t72 {
    width: 100%;
}

body .t73 {
    color: rgba(0,0,0,1.00);
    background: rgba(255,255,255,1.00);
    padding-top: 100px;
    background-image: url();
}

body .t74 {
}

body .t75 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

body .t76 {
    width: 100%;
}

body .t77 {
    width: 75%;
    margin: 0px 0px 40px 0px;
    max-width: 1100px;
}

body .t78 {
}

body .t79 {
}

body .t80 {
    color: rgba(51,51,51,1.00);
    background: rgba(242,242,242,1.00);
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t83 {
    position: relative;
}

body .t84 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

body .t85 {
    top: 140px;
    width: 100%;
    position: sticky;
    max-width: 400px;
    margin-bottom: 45px;
}

body .t86 {
    margin-bottom: 10px;
}

body .t87 {
    color: rgba(119,119,119,1.00);
}

body .t88 {
    width: 50%;
}

body .t89 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body .t90 {
    position: relative;
}

body .t91 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

body .t92 {
    top: 140px;
    width: 100%;
    position: sticky;
    max-width: 400px;
    margin-bottom: 45px;
}

body .t93 {
    color: rgba(119,119,119,1.00);
}

body .t94 {
    margin-bottom: 10px;
}

body .t95 {
    width: 50%;
}

body .t96 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body .t97 {
    position: relative;
}

body .t98 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

body .t99 {
    top: 140px;
    width: 100%;
    position: sticky;
    max-width: 400px;
    margin-bottom: 45px;
}

body .t100 {
    margin-bottom: 10px;
}

body .t101 {
    color: rgba(119,119,119,1.00);
}

body .t102 {
    width: 50%;
}

body .t103 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body .t104 {
    color: rgba(0,0,0,1.00);
    padding: 20px 0px 20px 0px;
    background: rgba(255,255,255,1.00);
}

body .t105 {
    display: flex;
    row-gap: 50px;
    flex-direction: column;
}

body .t106 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body .t107 {
    color: rgba(0,0,0,1.00);
    display: flex;
    column-gap: 15px;
    align-items: center;
    text-decoration: none;
}

body .t108 {
    height: 60px;
}

body .t109 {
    display: flex;
    position: relative;
    column-gap: 15px;
    align-items: center;
    justify-content: flex-end;
}

body .t110 {
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

body .t110 > div {
    top: 0;
    position: relative;
    transition: 0.2s;
}

body .t110.dh-active > div:last-child {
    top: -45%;
    position: relative;
    transform: rotate(-45deg);
}

body .t110.dh-active > div:first-child {
    top: 45%;
    position: relative;
    transform: rotate(45deg);
}

body .t110.dh-active > div:nth-child(2) {
    opacity: 0;
}

body .t111 {
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,1.00);
}

body .t112 {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

body .t113 {
    color: rgba(0,0,0,1.00);
}

body .t114 {
    color: rgba(255,255,255,1.00);
    background: rgba(0,0,0,1.00);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-decoration: none;
}

body .t119 {
    color: rgba(0,0,0,1.00);
    background: #FFFAD7;
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t122 {
    width: 100%;
}

body .t123 {
    border-bottom: 1px solid rgba(199,199,199,1.00);
    margin-bottom: 60px;
    padding-bottom: 40px;
}

body .t124 {
    font-size: 65px;
    font-weight: 500;
}

body .t125 {
    display: grid;
    column-gap: 25px;
    margin-bottom: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

body .t126 {
    display: flex;
    column-gap: 15px;
    align-items: flex-start;
}

body .t129 {
    margin-bottom: 10px;
}

body .t131 {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    justify-content: center;
}

body .t132 {
    color: rgba(255,255,255,1.00);
    border: 1px solid rgba(0,0,0,1.00);
    display: block;
    background: rgba(0,0,0,1.00);
    transition: all 200ms 0ms ease;
    padding-top: 15px;
    padding-left: 45px;
    border-radius: 5px;
    padding-right: 45px;
    padding-bottom: 15px;
}

body .t132:hover {
    color: rgba(0,0,0,1.00);
    background: rgba(0,0,0,0.00);
}

body .t133 {
    color: rgba(0,0,0,1.00);
    background: rgba(255,255,255,1.00);
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t138 {
    margin: 50px 0px 0px 0px;
    display: grid;
    row-gap: 35px;
    column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

body .t139 {
    text-align: center;
}

body .t140 {
    width: 100%;
}

body .t141 {
    margin: 10px 0px 0px 0px;
}

body .t142 {
    color: rgba(255,0,0,1.00);
    margin: 0px 0px 5px 0px;
}

body .t145 {
    color: rgba(0,0,0,1.00);
    background: rgba(242,242,242,1.00);
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t147 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(226,226,226,1.00);
    flex-direction: column;
    padding-bottom: 40px;
}

body .t148 {
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}

body .t149 {
    color: rgba(0,0,0,1.00);
    border: 2px solid rgba(0,0,0,0.00);
    background: rgba(255,255,255,0.00);
    font-weight: 700;
    padding-top: 0px;
    padding-left: 10px;
    border-radius: 30px;
    padding-right: 10px;
    padding-bottom: 0px;
    -webkit-background-clip: border-box;
}

body .t149:hover {
    border: 2px solid rgba(86,86,86,1.00);
    transform: translate(-2px,-2px);
    box-shadow:  2px 2px 1px 1px rgba(0,0,0,0.25);
    border-radius: 30px;
    text-decoration: none;
}

body .t150 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

body .t150:hover {
    transform: scale(1.2,1.2);
}

body .t151 {
    width: %;
    height: %;
}

body .t152 {
    display: flex;
    margin-top: 60px;
    text-align: right;
    align-items: center;
    justify-content: center;
}

body .t153 {
    color: rgba(0,0,0,1.00);
    font-size: 16px;
}

body .t154 {
    color: rgba(0,0,0,1.00);
    background: rgba(242,242,242,1.00);
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t156 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(226,226,226,1.00);
    flex-direction: column;
    padding-bottom: 40px;
}

body .t157 {
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}

body .t158 {
    color: rgba(0,0,0,1.00);
    border: 2px solid rgba(0,0,0,0.00);
    background: rgba(255,255,255,0.00);
    font-weight: 700;
    padding-top: 0px;
    padding-left: 10px;
    border-radius: 30px;
    padding-right: 10px;
    padding-bottom: 0px;
    -webkit-background-clip: border-box;
}

body .t158:hover {
    border: 2px solid rgba(86,86,86,1.00);
    transform: translate(-2px,-2px);
    box-shadow:  2px 2px 1px 1px rgba(0,0,0,0.25);
    border-radius: 30px;
    text-decoration: none;
}

body .t159 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

body .t159:hover {
    transform: scale(1.2,1.2);
}

body .t160 {
    width: %;
    height: %;
}

body .t161 {
    display: flex;
    margin-top: 60px;
    text-align: right;
    align-items: center;
    justify-content: center;
}

body .t162 {
    color: rgba(0,0,0,1.00);
    font-size: 16px;
}

body .t165 {
    color: rgba(0,0,0,1.00);
    background: rgba(255,255,255,1.00);
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t167 {
    margin: 0px 0px 30px 0px;
}

body .t169 {
}

body .t171 {
    margin: 0px 0px 40px 0px;
    text-align: center;
}

body .t174 {
    width: 100%;
    margin: 0px auto 0px auto;
    max-width: 600px;
}

body .t175 {
    margin: 0px 0px 30px 0px;
}

body .t177 {
}

body .t178 {
    margin: 0px 0px 30px 0px;
}

body .t180 {
    min-height: 150px;
}

body .t181 {
    width: 100%;
    display: block;
    padding: 15px 20px 15px 20px;
}

body .t182 {
    margin: 0px 0px 30px 0px;
}

body .t184 {
}

body .t186 {
    margin: 0px 0px 30px 0px;
}

body .t188 {
}

body .t189 {
    margin: 0px 0px 30px 0px;
}

body .t191 {
}

body .t192 {
    color: rgba(0,0,0,1.00);
    background: rgba(242,242,242,1.00);
    padding-top: 100px;
    padding-bottom: 100px;
}

body .t194 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(226,226,226,1.00);
    flex-direction: column;
    padding-bottom: 40px;
}

body .t195 {
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}

body .t196 {
    color: rgba(0,0,0,1.00);
    border: 2px solid rgba(0,0,0,0.00);
    font-weight: 700;
    padding-top: 0px;
    padding-left: 10px;
    border-radius: 30px;
    padding-right: 10px;
    padding-bottom: 0px;
}

body .t196:hover {
    border: 2px solid rgba(86,86,86,1.00);
    transform: translate(-2px,-2px);
    box-shadow:  2px 2px 1px 1px rgba(0,0,0,0.25);
    border-radius: 30px;
    text-decoration: none;
}

body .t197 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

body .t197:hover {
    transform: scale(1.2,1.2);
}

body .t198 {
    width: %;
    height: %;
}

body .t199 {
    display: flex;
    margin-top: 60px;
    text-align: right;
    align-items: center;
    justify-content: center;
}

body .t200 {
    color: rgba(0,0,0,1.00);
    font-size: 16px;
}

